body {
    background: #e2e7ed !important;
}

body .label {
    font-size: 13px;
    font-weight: bold;
}

body .busy_time_info {
    margin-left: 10px;
    background: #fb4862;
}

body .available_time_info {
    background: #2663eb;
}

body .go_back_button {
    font-weight: 500;
    font-size: 16px;
}

body .busy_time_info_google {
    background: #ffb100;
}

body .busy_time {
    background: #fb4862 !important;
    color: #fff !important;
    pointer-events: none;
}

body .has-error .form-control:focus {
    border-color: #ff0300 !important;
    box-shadow: none !important;
}

body .busy_google_time {
    background: #ffb100 !important;
    color: #fff !important;
    font-weight: 300 !important;
    pointer-events: none;
}

.appointment-header {
    display: flex;
    justify-content: center;
}

.appointment_logo img {
    max-width: 150px;
    height: auto;
    float: left;
}

.logo.img-responsive.navbar-brand.logo {
    margin-bottom: 0;
    margin-left: -20px;
}

.logo.img-responsive.navbar-brand.logo {
    margin-bottom: 0;
    margin-left: -20px;
}

.datetimepicker {
    background: #fff !important;
}

.mtop6 {
    margin-top: 6px !important;
}

.mtop35 {
    margin-top: 35px;
}

.appointment_type_holder .appointment_color_type {
    height: 30px;
    width: 30px;
    margin-top: 3px;
}

.appointment_type_holder .dropdown-menu li a:hover,
.appointment_type_holder .dropdown-menu li a {
    border: none !important;
    border-radius: 0px !important;
    padding: 8px 20px;
}

.appointment_type_holder .bootstrap-select {
    float: left;
}

.main_wrapper {
    padding: 25px;
    box-shadow: 0px 0px 0px 1px rgb(1 1 1 / 8%);
    border-radius: 4px;
    background: #fff;
    height: max-content;
    max-width: fit-content;
}

.main_wrapper-in-page {
    padding: 25px;
    box-shadow: 0px 0px 0px 1px rgb(1 1 1 / 8%);
    border-radius: 4px;
    background: #fff;
    height: max-content;
}

.hwp {
    border-radius: 4px;
    padding: 4px 10px;
    color: #fff;
}

/* body input {
    height: 38px !important;
} */

body textarea,
body input {
    border: 1px solid #ececec !important;
}

.hours_wrapper {
    display: flex;
    justify-content: center;
}

@media only screen and (max-device-width: 360px) and (-webkit-device-pixel-ratio: 3) {
    .xdsoft_datetimepicker {
        left: 2px !important;
    }

    .btn {
        width: 100%;
    }
}

.border {
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 5px;
}

.grey-text {
    color: gray;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heading{
    font-size: 18px;
}

.right .calendar-container {
    width: 280px;
}

.calendar-container {
    text-align: -webkit-center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 25vw;
    min-width: 350px;
    max-width: 390px;
}

.calendar div {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #dae7f5;
    color: #0077ff;
    cursor: pointer;
    font-size: 12px;

}

.calendar div.selected {
    background-color: #007bff;
    color: #fff;
}

.calendar div.disabled {
    background-color: #ffffff;
    color: #a1a1a1;
    cursor: not-allowed;
}

.calendar div.weekdays{
    background-color: #ffffff;
    color: #000000;
    cursor: not-allowed;
}


.calendar div.disabled:empty {
    background: transparent;
}

.timezone {
    margin-top: 20px;
}

.month-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    min-width: 200px;
}

.month-switch button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.month-switch button:focus,
.month-switch button:active {
    background-color: #dae7f5;
    color: #0077ff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.timelabel{
    background: #2663eb;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    max-width: 135px;
    font-size: 11px;
    font-weight: 600;

}
.timelabel:empty{
    background-color: transparent;
}


.timeslots {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.timeslots button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.timeslot {
    min-width: 135px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-right:5px;
}

.timeslot.selected {
    background-color: #007bff;
    color: white;
}


    /* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .appointments-table {
    width: 100%;
    border-collapse: collapse;
}

.appointments-table th, .appointments-table td {
   
    padding: 8px; 
    text-align: start; 
}

.calendar-section{
    margin: 0px 15px;
}


/* Callbacks Popup */